@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "Starjhol";
  src: local("Starjhol"),
    url("./assets/fonts/starjedi/Starjhol.ttf") format("truetype");
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  background-image: url("./assets/images/5.png");
  background-size: contain;
  background-repeat: repeat;
  color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.font-face-sw {
  font-family: "Starjhol";
}
